
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AJAX Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('.hello-ajax').click(function () {
                  $.ajax({
                    type: 'GET',
                    url: '@Url.Action("HelloAjax")',
                    success: function (result) {
                      $('#result1').html(result);
                    }
                  });
            });

            $('.display-database-items').submit(function (event) {
                event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("TotalInventory")',
                        type: 'GET',
                        data: $(this).serialize(),
                        dataType: 'json',
                        success: function (result) {
                            console.log(result)
                            var stringResult = '<ul>';
                            for (var i = 0; i < result.length; i++) {
                            console.log("i " , result[i])
                                stringResult += '<li>' + result[i].name + ', $' + result[i].itemPrice.toFixed(2) + '     qty:' + result[i].stock +'</li>';
                            }
                            stringResult += '</ul>';
                            $('#inventoryList').html(stringResult);
                        }
                    });
                });

            $('.new-sale').submit(function (event) {
                event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("NewSale")',
                        type: 'GET',
                        data: $(this).serialize(),
                        dataType: 'json',
                        success: function (result) {
                            console.log(result)
                            var stringResult = '<div>';
                            stringResult += '<form id="newsale" action="newSale" class="new-sale">'
                           
                            for (var i = 0; i < result.length; i++) {
                   
                                stringResult += '<div><label for="ItemName" >' + result[i].name + '</label>, <label for="Amount"> $' + result[i].itemPrice.toFixed(2) + '</label>     qty:' + result[i].stock + '<input type="number" class="itemCount" id="' + result[i].itemId + '" /> </div>';
                            }
                            stringResult += '<button type="submit">Submit</button></form></div>';
                            $('#sale').html(stringResult);
                           
                        }
                    });
            });
            $('.sales-form-2').click(function () {
                  $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("SalesForm2")',
                    success: function (result) {
                      $('#sales-form').html(result);
                    }
                  });
                });

        });
    </script>
</head>
<body>

    <h2>Basic AJAX</h2>
    <h4 class="hello-ajax">Hello AJAX</h4>
    <div id="result1"></div>

    <h2>Using a form to make a GET request</h2>
    <form action="TotalInventory" class="display-database-items">
        <button type="submit" id="inv-bttn">Show Inventory</button>
    </form>
    <div id="inventoryList"></div>

    <h2>Submitting data with a POST request</h2>
    <form action="NewSale/Create" class="new-sale">
        @*<label for="newCity">City: </label>
        <input type="text" name="newCity" />
        <label for="newCountry">Country: </label>
        <input type="text" name="newCountry" />*@
        <button type="submit">Submit</button>
    </form>
    <div id="sale"></div>


    <h2>Sales Form 2</h2>
    <h4 class="sales-form-2">Sales Form</h4>
    <div id="sales-form"></div>

</body>
</html>