
@using SalesTracker.Models;
<div>
@using (Html.BeginForm())
{
    foreach (Item i in Model)
    {
    <div>
        <input type="hidden" name="itemId" value=@i.ItemId>
        <label>Item Name :</label>
        @Html.DisplayFor(modelItem => i.Name)
        <label>Item Price</label>
        @Html.DisplayFor(modelItem => i.ItemPrice)
        <input type="hidden" name="itemPrice" value=@i.ItemPrice>
        <input type="hidden" name="itemCost" value=@i.ItemCost>
        <label>Quantity</label>
        @Html.DisplayFor(modelItem => i.Stock)
        <input type="number" name="itemCount" />
    </div>
    }
    <label>Comments</label>
    <textarea rows="5" cols="30" name="comment"></textarea>
    <button type="submit" id="sale-bttn">Submit</button>
}
</div>




